.detail{
    flex: 3;
}
.det-trailer{
    margin-top: 20px;
}
.dt-down{
  display: flex;
}
.dd-one{
  flex: 2.5;
}
.dd-two{
   flex: 1.5;
}
.ddt-img{
  width: 75%;
}
.ddt-img1{
    margin-top: 20px;
    width: 75%;
}
.md-top{
    display: flex;
    column-gap: 10px;
}
.md-top h2{
   font-size: 0.75rem;
}
button{
    border-radius: 15px;
    color: #B91C1C;
    padding: 7px 24px;
    border: 1px solid #fff;
}
a{
    color: #B91C1C;
    text-decoration: none;
}
.g521{
    width: 90%;
}
.mdupo{
    display: flex;
    column-gap: 15px;
}
@media screen and (max-width: 768px) {
    .det-trailer{
        width: 100px;
    }
    iframe{
        width: 320px;
    }
    .md-top{
        display: flex;
        column-gap: 2px;
        font-size: 0.4rem;
    }
    .mdh2{
        font-size: 0.4rem;
    }
    .mdp{
        font-size: 0.4rem;
    }
    .mdh21{
        font-size: 0.4rem;
    }
    .mdbut{
        font-size: 0.4rem;
        font-weight: 200;
    }
    .dt-down{
        flex-direction: column;
    }
    .mdbut{
        width: 40%;
        font-size: 10px;
        margin-left: 20px;
    }
    .mdupo{
        flex-direction: column; 
    }
}
