.movie-card{
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
    min-height: 450px;
    height: 100%;
    margin: 10px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center'; 
}
.movie-card:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
.card-top{
    height: 100px;
}
.card-top img {
    width: 25%;
    height: 25%;
}
.card-info {
    color: #000;
}
.card-info h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card-bottom{
    padding: 20px;
}