.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
    column-gap: 15px;
}
.movie-list{
    margin: 20px 0px ;
}
.movie-container{
    max-width: 1150px;
    margin: auto;
}